#!/usr/bin/env bash

if type nix-shell >/dev/null 2>&1; then
    if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
        source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
    fi

    use nix
else
    echo "nix-shell is not available. Install Nix: https://nixos.org/download"
fi
